<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFServiceDemo" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:47035/WCFServiceDemo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFServiceDemo"
                contract="WCFDemo.IWCFServiceDemo" name="BasicHttpBinding_IWCFServiceDemo" />
        </client>
    </system.serviceModel>
</configuration>